/* ========== FONDO GENERAL ========== */
window {
    background-image: url("fondo_naruto.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main_box, #add_box {
    background-color: rgba(255, 255, 255, 0.90); /* semi-transparente */
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

label {
    color: #2b2b2b;
    font-family: "Sans";
    font-weight: bold;
    font-size: 12pt;
}

entry {
    background-color: #fefefe;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 6px;
    font-size: 11pt;
}

button {
    background-color: #f7941d;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    font-weight: bold;
    font-size: 11pt;
    transition: all 0.3s;
}

button:hover {
    background-color: #ffa733;
   /* transform: scale(1.05);*/
}

textview {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px;
}

#resultado {
    background-color: #eef3fb;
    color: #222;
}


scrolledwindow {
    border-radius: 8px;
}

grid, box {
    margin: 10px;    
    /*spacing: 10px; */
}
